<?xml version="1.0"?>
<ruleset name="Oire">
    <exclude-pattern>*/.git/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <include-pattern>*/src/*</include-pattern>
    <include-pattern>*/tests/*</include-pattern>
    <arg name="no-colors"/>
    <arg name="no-cache"/>

    <rule ref="psr2">
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration"/>
    </rule>
</ruleset>
