<?xml version="1.0" encoding="utf-8"?>
<phpunit>
	<testsuites>
		<testsuite name="Colloportus">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="DB_HOST" value="mariadb"/>
		<env name="DB_PORT" value="3306"/>
		<env name="DB_DATABASE" value="iridium_test"/>
		<env name="DB_USERNAME" value="iridium"/>
		<env name="DB_PASSWORD" value="iridium_secret"/>
	</php>
</phpunit>
